<div class="site-footer__logo">
    {% capture image_size %}{{ logo_max_width | escape }}x{% endcapture %}
    <a href="{{ routes.root_url }}" itemprop="url" class="site-footer__logo-link">
      {% if section.settings.logo %}
        <img class="site-footer__logo-image" src="{{ section.settings.logo | img_url: image_size }}" srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
</div>