{% if section.settings.image_layout == "stacked" %}
    {% comment %}
    Default or stacked layout
    {% endcomment %}

    {% comment %}
    We need to figure out the max width we want the image to be on the page
    based on the aspect ratio of the image and based on the size of the
    image.
    {% endcomment %}
    <div class="product-single__photos">
    {% capture img_id_class %}product-single__photo-{{ featured_image.id }}{% endcapture %}
    {% capture wrapper_id %}ProductImageWrapper-{{ featured_image.id }}{% endcapture %}

    {% comment %}
        Display current variant image
    {% endcomment %}
    <div class="product-single__photo--flex-wrapper">
        <div class="product-single__photo--flex">
        {% include 'image-style' with image: featured_image, width: 575, height: 850, small_style: true, wrapper_id: wrapper_id, img_id_class: img_id_class %}
        <div id="{{ wrapper_id }}" class="product-single__photo--container">
            <div class="product-single__photo-wrapper" style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%;">
            {% assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="product-single__photo lazyload {{ img_id_class }}"
                src="{{ featured_image | img_url: '300x300' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ featured_image.aspect_ratio }}"
                data-sizes="auto"
                {% if section.settings.zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %}
                data-image-id="{{ featured_image.id }}"
                alt="{{ featured_image.alt | escape }}">

            <noscript>
                <img class="product-single__photo"
                src="{{ featured_image | img_url: 'master' }}"
                {% if section.settings.zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %}
                alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
            </noscript>
            </div>
        </div>
        </div>
    </div>

    {% comment %}
        Display rest of product images, not repeating the featured one
    {% endcomment %}
    {% for image in product.images %}
        {% unless image contains featured_image %}

        {% comment %}
            We need to figure out the max width we want the image to be on the page
            based on the aspect ratio of the image and based on the size of the
            image.
        {% endcomment %}
        {% capture img_id_class %}product-single__photo-{{ image.id }}{% endcapture %}
        {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}

        <div class="product-single__photo--flex-wrapper">
            <div class="product-single__photo--flex">
            {% include 'image-style' with image: image, width: 575, height: 850, small_style: true, wrapper_id: wrapper_id, img_id_class: img_id_class %}
            <div id="{{ wrapper_id }}" class="product-single__photo--container">
                <div class="product-single__photo-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img class="product-single__photo lazyload {{ img_id_class }}"
                    src="{{ image | img_url: '300x' }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-sizes="auto"
                    {% if section.settings.zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %}
                    data-image-id="{{ image.id }}"
                    alt="{{ image.alt | escape }}">

                <noscript>
                    <img class="product-single__photo" src="{{ image.src | img_url: 'master' }}"
                    {% if section.settings.zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %}
                    alt="{{ image.alt | escape }}"
                    data-image-id="{{ image.id }}">
                </noscript>
                </div>
            </div>
            </div>
        </div>
        {% endunless %}
    {% endfor %}

    </div>
{% else %}
    {% comment %}
    Thumbnails layout
    {% endcomment %}
    <div class="product-thumbnail__wrapper">
        <div class="product-thumbnail__photos product-single__photos{% if product.images.size > 1 %} has-thumbs{% endif %}">
            {% comment %}
                We need to figure out the max width we want the image to be on the page
                based on the aspect ratio of the image and based on the size of the
                image.
            {% endcomment %}
            {% capture img_id_class %}product-single__photo-{{ featured_image.id }}{% endcapture %}
            {% capture wrapper_id %}ProductImageWrapper-{{ featured_image.id }}{% endcapture %}

            {% comment %}
                Display current variant image
            {% endcomment %}
<div class="product-single__photo--flex-wrapper mobile-attached show-thumb-mobile" data-slideimage-id="{{ featured_image.id }}">
  <div class="product-single__photo--flex">
    {% if featured_image %}
      {% include 'image-style' with image: featured_image, width: 575, height: 850, small_style: true, wrapper_id: wrapper_id, img_id_class: img_id_class %}
      <div id="{{ wrapper_id }}" class="product-single__photo--container product-single__photo--container-thumb">
          <div class="product-single__photo-wrapper" style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%;">
          {% assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="product-single__photo lazyload {{ img_id_class }}"
              src="{{ featured_image | img_url: '300x300' }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ featured_image.aspect_ratio }}"
              data-sizes="auto"
              {% if section.settings.zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %}
              data-image-id="{{ featured_image.id }}"
              alt="{{ featured_image.alt | escape }}">

          <noscript>
              <img class="product-single__photo"
              src="{{ featured_image | img_url: 'master' }}"
              {% if section.settings.zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %}
              alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
          </noscript>
          </div>
      </div>
    {% else %}
      <div id="{{ wrapper_id }}" class="product-single__photo--container product-single__photo--container-thumb">
          <div class="product-single__photo-wrapper" style="padding-top: 100%;">
          <img class="product-single__photo lazyload {{ img_id_class }}"
              src="{{ 'no-image-1.png' | asset_url }}"
              alt="No image available">
          </div>
      </div>
    {% endif %}
  </div>
</div>

            {% comment %}
                Populate rest of product images with display = none, not repeating the featured one
            {% endcomment %}
{% if product.images.size > 0 %}
    {% for image in product.images %}
        {% unless image contains featured_image %}

        {% comment %}
            We need to figure out the max width we want the image to be on the page
            based on the aspect ratio of the image and based on the size of the
            image.
        {% endcomment %}
        {% capture img_id_class %}product-single__photo-{{ image.id }}{% endcapture %}
        {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}

        <div class="product-single__photo--flex-wrapper{% if image.attached_to_variant? %} hide-thumb-mobile mobile-attached{% else %} show-thumb-mobile{% endif %}" data-slideimage-id="{{ image.id }}">
            <div class="product-single__photo--flex">
            {% include 'image-style' with image: image, width: 575, height: 850, small_style: true, wrapper_id: wrapper_id, img_id_class: img_id_class %}
            <div id="{{ wrapper_id }}" class="product-single__photo--container product-single__photo--container-thumb hide">
                <div class="product-single__photo-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img class="product-single__photo lazyload {{ img_id_class }}"
                    src="{{ image | img_url: '300x' }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-sizes="auto"
                    {% if section.settings.zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %}
                    data-image-id="{{ image.id }}"
                    alt="{{ image.alt | escape }}">

                <noscript>
                    <img class="product-single__photo" src="{{ image.src | img_url: 'master' }}"
                    {% if section.settings.zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %}
                    alt="{{ image.alt | escape }}"
                    data-image-id="{{ image.id }}">
                </noscript>
                </div>
            </div>
            </div>
        </div>
        {% endunless %}
    {% endfor %}
{% else %}
    <!-- Mostrar imagen por defecto si no hay imágenes de productos -->
    <div class="product-single__photo--flex-wrapper show-thumb-mobile hide-media-desktop">
        <div class="product-single__photo--flex">
            <div id="ProductImageWrapper-default" class="product-single__photo--container product-single__photo--container-thumb">
                <div class="product-single__photo-wrapper">
                    <img class="product-single__photo lazyload" 
                        src="{{ 'no-image-1.png' | asset_url }}"
                        alt="Imagen por defecto del producto">
                </div>
            </div>
        </div>
    </div>
{% endif %}



        </div>
      {% if product.images.size > 0 %}
        <div class="product-image__slick-dots"></div>
      {% else %}
      {% endif %}
    </div>
    {% comment %}
        Display thumbnails
    {% endcomment %}
<ul class="product-single__thumbnails small--hide" id="ProductThumbs">
    {% if product.images.size > 1 or product.media.size > 0 %}
        {% for image in product.images %}
            {% if product.images.size > 1 %}
                <li id="li-{{ image.id }}" class="li-image-gallery-cls grid__item product-single__photo-wrapper{% if image.attached_to_variant? %} hide-thumb{% endif %}{% if image contains featured_image %} active-thumb-wrapper{% endif %}">
                    <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: 'grande' }}" class="product-single__thumbnail {% if image contains featured_image %} active-thumb{% endif %}">
                        <img class="product-single__thumb" src="{{ image.src | img_url: '150x' }}" alt="{{ image.alt | escape }}">
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% for media in product.media %}
            {% if media.media_type == 'video' %}
                <li class="li_Popup_video__product">
                    <div class="miniature__video_play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M8 5v14l11-7z"/>
                        </svg>
                    </div>
                    <div class="Popup_video__product" id="video__product_{{ media.id }}" style="display: none;">
                        <span class="video-popup-close">&times;</span>
                        {{ media | video_tag: controls: true }}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
    {% endif %}
</ul>

    {% if featured_review %}
    <div class="product-image-info-wrapper div-hide-mobile">
       <div class="star-review">
                     <img
                src="https://cdn.shopify.com/s/files/1/0091/8444/4495/files/star-pic.png?v=1712962883"
                height=""
                width=""
                alt=""
              >     
       </div>
        <div class="product-image-info-wrapper">
          <span class="product-images-info-new">{{ featured_review_text }} </span> 
          <br>
          <span class="product-images-info-title-new">{{ featured_review_title }}</span> 
        </div>
             
    </div>
    {% endif %}
{% endif %}

