<div class="one-half product-qty-wrapper">

    

    {% if section.settings.quantity_enabled %}
    <div class="product-single__quantity">
      <label for="Quantity" class="product-single__quantity-label js-quantity-selector">{{ 'products.product.quantity' | t }}</label>
      <input type="number" hidden="hidden" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector">
    </div>
    {% endif %}

    
    
    
  
    <p id="money-saved" style="display: flex;">Save <b id="money-saved-amount"></b></p>


  
    <div class="product-single__add-to-cart{% if section.settings.add_to_cart_button_size == 'large' %} product-single__add-to-cart--full-width{% endif %}">
      <button  style="visibility: visible;" type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
        <span class="btn__text">
          {% if current_variant.available %}
           {% comment %} {{ 'products.product.add_to_cart' | t }} {% endcomment %}
            Add to cart
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
      </button>
      {% if section.settings.enable_payment_button %}
        {{ form | payment_button }}
      {% endif %}
    </div>
  
    
  </div>
