<div data-f="product-icons.liquid" class="wrapper product-icons" data-aos="fade-up">
    <h3 class="icons__heading">{{ section.settings.heading1 }} <span class="pink">{{ section.settings.heading2 }}</span> {{ section.settings.heading3 }}</h3>
    {% case section.blocks.size %}
        {% when 0 %}
        {% when 1 %}
            {% assign column_width = '' %}
        {% when 2 %}
            {% assign column_width = 'one-half' %}
        {% when 3 %}
            {% assign column_width = 'one-third' %}
        {% when 4 %}
            {% assign column_width = 'one-quarter' %}
    {% endcase %}
    <div class="grid">
        {% for block in section.blocks %}
            <div class="grid__item {{ column_width }}">
                {% if block.settings.image != blank %}
                    <noscript>
                        {{ block.settings.image | img_url: '200x200' | img_tag: block.settings.image.alt, 'feature-row__image-no-js' }}
                    </noscript>
                    <div class="feature-icon__image-wrapper" {% comment %}style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;"{% endcomment %}>
                    {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img class="feature-icon__image lazyload"
                        src="{{ block.settings.image | img_url: '200x200' }}"
                        data-src="{{ img_url }}"
                        data-widths="[200, 360, 540, 720]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt | escape }}">
                </div>
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                <div class="product_icons_title">{{ block.settings.block-title }}</div>
                <div class="product_icons_text">{{ block.settings.block-text }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% schema %}
{
  "name": "Product Icons",
  "class": "icons-section product-icons-section",
  "max_blocks": 4,
  "settings": [
    {
        "type": "text",
        "id": "heading1",
        "label": "Heading 1"
    },
    {
        "type": "text",
        "id": "heading2",
        "label": "Heading 2"
    },
    {
        "type": "text",
        "id": "heading3",
        "label": "Heading 3"
    }
  ],
  "presets": [
    {
        "name": "Product icons",
        "category": "Info"
    }
  ],
  "blocks": [
    {
        "type": "info",
        "name": "Icon",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "block-title",
                "label": "Block Title"
            },
            {
                "type": "text",
                "id": "block-text",
                "label": "Block Title"
            }
        ]
    }
  ]
}
{% endschema %}