<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template-mist' %}
{% comment %}
{% section "featured-recipes" %}
{% endcomment %}
<div class="dev-hide-mobile">
{% section 'full-width-image-mist' %}
</div>
<div class="dev-hide-desktop">
{% section 'full-width-image-mist-mobile' %}
</div>
{% section 'image-section-mist' %}
{% section 'product-testimonials-mist' %}

<!-- Start of Judge.me code --> 
  <div style='clear:both'></div> 
  <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget wrapper' data-id='{{ product.id }}'> 
    {{ product.metafields.judgeme.widget }} 
  </div> 
<!-- End of Judge.me code -->



<div class="wrapper" data-aos="fade-up">
  {% comment %}<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>{% endcomment %}
  <!-- Start of Judge.me code -->
      <div style='clear:both'></div>
      <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}' data-auto-install='false'>
        {{ product.metafields.judgeme.widget }}
      </div>
      <!-- End of Judge.me code -->
</div>

{% comment %}
{% section 'product-recommendations' %}

{% if collection %}
  <div class="text-center">
    <a href="{{ collection.url }}" class="return-link">&larr; {{ 'products.general.collection_return' | t: collection: collection.title }}</a>
  </div>
{% endif %}
{% endcomment %}



<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<script type="text/javascript">
var _learnq = _learnq || [];
  var classname = document.getElementsByClassName("btn btn--add-to-cart");
var addToCart = function() {
_learnq.push(['track', 'Added to Cart', item]);
}; for (var i = 0; i < classname.length; i++) {
classname[i].addEventListener('click', addToCart, false);
}
</script>

<script src="{{ 'product-customization-mist.js' | asset_url }}" defer="defer"></script>